# docker-compose -f docker-compose.prod.yml up -d --build

services:
  web:
    build: .
    container_name: duckinzzz_web
    env_file:
      - .env
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - "8000"
    entrypoint: [ "/bin/bash", "/app/entrypoint.sh" ]
    depends_on:
      - nginx
    restart: unless-stopped
    # Для доступа к локальной PostgreSQL на хосте
    extra_hosts:
      - "host.docker.internal:host-gateway"

  nginx:
    image: nginx:alpine
    container_name: duckinzzz_nginx
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/app/static:ro
      - media_volume:/app/media:ro
    depends_on:
      - web
    restart: unless-stopped

volumes:
  static_volume:
  media_volume:
