{% extends "hihanews/news/base.html" %}
{% block title %}Архив новостей{% endblock %}
{% block og_title %}Архив новостей{% endblock %}
{% block og_description %}Список всех опубликованных псевдоновостей HihaNews{% endblock %}
{% block og_url %}{% url 'hihanews:news_index' %}{% endblock %}
{% block header_date %}Архив{% endblock %}
{% block category %}Новости{% endblock %}
{% block headline %}Архив публикаций{% endblock %}
{% block content %}
    {% if news_items %}
        <ul class="news-list">
            {% for news_slug in news_items %}
                <li><a href="{% url 'hihanews:news_detail' news_slug=news_slug %}">{{ news_slug }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty-state">Новостей пока нет.</p>
    {% endif %}
{% endblock %}
